[mysqld]
character_set_server=utf8mb4

# default_authentication_plugin=mysql_native_password # MySQL 8.0使用時に必要

# log_error=/var/log/mysql/error.log
# general_log=1
# general_log_file=/var/log/mysql/general.log
